<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyk.mapper.UserMapper">

    <parameterMap type="com.zyk.domain.User" id="parameterMapUser">
        <parameter property="studentSn"/>
        <parameter property="studentName"/>
    </parameterMap>

    <resultMap type="com.zyk.domain.User" id="resultMapUser">
        <result property="studentSn" column="c_student_sn"/>
        <result property="studentName" column="c_student_name"/>
    </resultMap>


    <select id="selectUserInfo" resultMap="resultMapUser">
        SELECT * FROM school_student_simple_fir
    </select>
</mapper>